.header{
    background-color: black;
    color: white;
    /* text-align: center; */
    padding: 5px;
}

body{
    margin: 0 auto;
}

.body{
    margin: 5px;
}

a{
    color: blue;
}

.trends-banner{
    text-align: right;
}